@import "bootstrap";
body{
	padding-top: 40px;
}
.cambiar_rojo{
	color: rgb(200,20,20);	
}
.cambiar_verde{
	color: rgb(20,200,20);
}
.page-header{
	text-align: center;
}
.radio_button{
	display: inline;
}
.textarea{
	width: 600;
	padding: 10px;
	height: 200px;
	margin-bottom: 15px;
	resize: none;
	margin-top: 10px;
}

.span9{
	background-color: rgb(150,250,150);
}
.rakun{
	text-align:center;
	padding-top: 30px;
	padding-bottom: 30px;
}